In [3]:
pip install -U scikit-learn

Collecting scikit-learnNote: you may need to restart the kernel to use updated packages.
  Using cached scikit_learn-1.0.2-cp310-cp310-win_amd64.whl (7.2 MB)
Requirement already satisfied: numpy>=1.14.6 in c:\users\deepak\anaconda3\envs\hamsaenvironments\lib\site-packages (from scikit-learn) (1.21.5)
Collecting threadpoolctl>=2.0.0
  Using cached threadpoolctl-3.1.0-py3-none-any.whl (14 kB)
Requirement already satisfied: joblib>=0.11 in c:\users\deepak\anaconda3\envs\hamsaenvironments\lib\site-packages (from scikit-learn) (1.1.0)
Requirement already satisfied: scipy>=1.1.0 in c:\users\deepak\anaconda3\envs\hamsaenvironments\lib\site-packages (from scikit-learn) (1.7.3)
Installing collected packages: threadpoolctl, scikit-learn
Successfully installed scikit-learn-1.0.2 threadpoolctl-3.1.0

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [6]:
from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer
from sklearn.compose import ColumnTransformer

In [25]:
df= pd.read_csv("/Python/pandas/train.csv")

tab= df[["Age","Fare","Survived"]]
tab.head()

    Age     Fare  Survived
0  22.0   7.2500         0
1  38.0  71.2833         1
2  26.0   7.9250         1
3  35.0  53.1000         1
4  35.0   8.0500         0

In [26]:
tab.isnull().mean()

Age         0.198653
Fare        0.000000
Survived    0.000000
dtype: float64